body {
    background-color: blueviolet;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

#nama {
    font-size: 32px;
    text-align: center;
    color: #2E7D7B;

}
p {
    background-color: white;
    font-style: italic;
}
.bio {
    background-color: white;
    font-style: italic;
}